body {
  background-image: url(img/fondo.jpg);
}
#not1 {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  color: black;
}
#not2 {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  color: black;
}
#not3 {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  color: black;
}
p {
  font-size: 30px;
}
