body {
  background-image: url(img/fondo.jpg);
}
.uno h1 {
  font-size: 375%;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10px;
}
.dos h1 {
  font-size: 375%;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10px;
}
.tres h1 {
  font-size: 375%;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10px;
}
.cuatro h1 {
  font-size: 375%;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10px;
}
img {
  width: 100%;
}
h3 {
  font-size: 150%;
}
